# Dependencias
node_modules/

# Archivos de build
.expo/
.expo-shared/
dist/
build/

# Configuraciones locales
.env
.DS_Store

# Archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del editor
.vscode/
.idea/

node_modules/
.expo/
.expo-shared/
dist/
build/
.env
.DS_Store
.vscode/

frontend/api/index.ts
frontend/api/index.ts
